.dialog-container {
  min-width: 350px;
  max-width: 450px;
  margin-left: 12%;

  .positivo {
    color: green;
    font-weight: bold;
  }

  .negativo {
    color: red;
    font-weight: bold;
  }

  mat-dialog-actions {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
.dialog-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff3b3b;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.4;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif !important;

  
  @media (max-width: 480px) {
    font-size: 1.2rem;
    text-align: left;
  }

  @media (max-width: 360px) {
    font-size: 1rem;
     text-align: left;
  }
}
